.step {
  &.slide-out-left {
    position: absolute;
    animation: 0.3s ease-in-out slide-out-left;
    .card { animation: 0.3s ease-in-out fade-out; }
  }

  &.slide-out-right {
    position: absolute;
    animation: 0.3s ease-in-out slide-out-right;
    .card { animation: 0.3s ease-in-out fade-out; }
  }

  &.slide-in-left {
    position: absolute;
    animation: 0.3s ease-in-out slide-in-left;
    .card { animation: 0.3s ease-in-out fade-in; }
  }

  &.slide-in-right {
    position: absolute;
    animation: 0.3s ease-in-out slide-in-right;
    .card { animation: 0.3s ease-in-out fade-in; }
  }
}
