.step {
  width: 100%;
  max-width: $small-width;

  header,
  article,
  footer {
    margin: 1.5rem 2rem;
  }

  // If a border is applied to a
  // step, it is removed here to
  // allow the step to be fullscreen
  @media #{$screen-max-small} {
    border: none;
  }
}
