.step {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;

  .card {
    border: none;
    border-radius: none;
    width: 100%;
    > header,
    > article,
    > footer {
      margin: 1.25rem 1.5rem;
    }

    > footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;

      #{$buttons} {  margin-left: .5rem; }
    }
  }
  @media #{$screen-width-medium} {
    background: none;
    .card {
      border: 1px solid $neutral-100;
      border-radius: 0.25rem;
      max-width: $small-width;
      margin: 2rem 0;
      > header,
      > article,
      > footer {
        margin: 1.5rem  2.5rem;
      }
    }
  }
}
