.banner {
  width: 100%;
  height: 3.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: $white;
  border-bottom: 1px solid $neutral-100;
  box-shadow: $box-shadow;

  &.flat { box-shadow: none; }
}

.banner-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  max-width: $xlarge-width;
  margin: 0 1.25rem;

  &.full { max-width: 100%; }

  @media #{screen-width-medium} { margin: 0 3rem; }

  #{$hx} { margin: 0; }

  .banner-masthead {
    display: flex;
    flex-direction: row;
    align-items: center;
    #{$buttons}, a { margin-right: 0.5rem; }
  }

  .banner-nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    #{$buttons}, a { margin-left: 0.5rem; }
  }
}
