.banner {
  width: 100%;
  height: 3.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: $white;
  border-bottom: 1px solid $neutral-100;
  box-shadow: $box-shadow;

  &.flat {
    box-shadow: none;
  }
}

// .modal-page-banner {
//   background-color: $white;
// }

.banner-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: $xlarge-width;
  margin: 0 1.25rem;

  @media #{screen-width-medium} {
    margin: 0 3rem;
  }

  .banner-title,
  .banner-actions {
    margin: 0;
  }
}
