#{$buttons} {

  // ---   BUTTON STYLING VARIANTS   --- //

  &.outline { @include outline($primary-500, $primary-700, $primary-500); }
  &.flat {
    @include flat($primary-500, $primary-700, $primary-900);
    padding: 0.375rem 0;
  }

  // --- BUTTON COLOUR VARIANTS ---//

  // alt colour styling
  &.alt {
    @include fill($secondary-500, $secondary-500, $secondary-700);
    &.outline { @include outline($secondary-500, $secondary-700, $secondary-500); }
    &.flat { @include flat($secondary-500, $secondary-300, $secondary-700); }
  }

  // alert colour styling
  &.alert {
    @include fill($tertiary-100, $tertiary-100, $tertiary-300, $neutral-900);
    &:focus, &.focus { box-shadow: 0 0 0 1px $white, 0 0 0 3px $tertiary-300; }
    &.outline {
      @include outline($tertiary-300, $tertiary-300, $tertiary-100, $neutral-900);
      color: $neutral-900;
      fill: $neutral-900;
      &:focus, &.focus { box-shadow: 0 0 0 1px $white, 0 0 0 3px $tertiary-300; }
    }
    &.flat { @include flat($tertiary-300, $tertiary-300, $tertiary-100); }
  }

  // neg colour styling
  &.neg {
    @include fill($neg-500, $neg-500, $neg-700);
    &.outline { @include outline($neg-500, $neg-700, $neg-500); }
    &.flat { @include flat($neg-500, $neg-500, $neg-700); }
  }

  // pos colour styling
  &.pos {
    @include fill($pos-500, $pos-500, $pos-700);
    &.outline { @include outline($pos-500, $pos-700, $pos-500); }
    &.flat { @include flat($pos-500, $pos-500, $pos-700); }
  }

  // dark colour styling
  &.dark, &.success {
    @include fill($neutral-900, $neutral-900, $neutral-700);
    &.outline { @include outline($neutral-900, $neutral-700, $neutral-900); }
    &.flat { @include flat($neutral-900, $neutral-900, $neutral-700); }
  }

  // light colour styling
  &.light {
    @include fill($neutral-50, $neutral-50, $neutral-300, $black);
    &.outline { @include outline($neutral-50, $neutral-300, $neutral-50, $neutral-900); }
    &.flat { @include flat($neutral-50, $neutral-50, $neutral-300); }
  }

  // --- BUTTON SIZING VARIANTS ---//

  &.large {
    font-size: 1.125rem;
    line-height: 1.625rem;
    padding: 0.5rem 1rem;

    &.flat {
      padding-left: 0;
      padding-right: 0;
    }

    svg {
      width: 1.125rem;
      height: 1.125rem;
      flex: 0 0 1.125rem;
    }
  }

  &.small {
    font-size: 0.875rem;
    line-height: 1.125rem;
    padding: 0.25rem 0.5rem;

    &.flat {
      padding-left: 0;
      padding-right: 0;
    }

    svg {
      width: 0.75rem;
      height: 0.75rem;
      flex: 0 0 0.75rem;
    }
  }

  // --- ICON BUTTON VARIANTS ---//

  &.icon {
    display: flex;
    align-items: center;

    svg {
      top: 0;
      width: 1.125rem;
      height: 1.125rem;
      flex: 0 0 1.125rem;
    }

    &.large svg {
      width: 1.5rem;
      height: 1.5rem;
      flex: 0 0 1.5rem;
    }

    &.small svg {
      width: 0.875rem;
      height: 0.875rem;
      flex: 0 0 0.875rem;
      margin: 0.125rem 0;
    }

    &.before svg { margin-right: 0.5rem; }
    &.after svg { margin-left: 0.5rem; }

    &.flat {
      padding-left: 0;
      padding-right: 0;
    }

    &.no-pad { padding: 0; }

    &.circle:not(.after):not(.before):not(.flat){
      border-radius: 50%;
      padding: 0.5rem;
      &.small { padding: 0.375rem;}
      &.no-pad { padding: 0; }
      svg { margin: 0; }
    }
  }

  // --- SUBTLE BUTTON VARIANT ---//
  // --- keep below other style and colour variants ---//

  &.subtle {
    border-color: $neutral-300;
    color: $neutral-900;
    fill: $neutral-900;
    background: $neutral-0;

    %subtle-button-focus {
      border-color: $neutral-300;
      color: $neutral-900;
      fill: $neutral-900;
      background: $neutral-300;
    }
    @media (hover: hover) { &:hover, &.hover { @extend %subtle-button-focus; } }
    &:focus, &.focus { @extend %subtle-button-focus; }

    &:active, &.active {
      border-color: $neutral-100;
      color: $neutral-900;
      fill: $neutral-900;
      background: $neutral-100;
    }

    &:disabled, &.disabled {
      border-color: $neutral-300;
      color: $neutral-500;
      font-weight: normal;
      fill: $neutral-500;
      background: $neutral-50;
      cursor: default;
      outline: none;
    }
    &:focus, &.focus { box-shadow: 0 0 0 1px $white, 0 0 0 3px $neutral-300; }
  }
}
