.card {
  height: auto;
  background-color: $white;
  display: inline-block;
  border-radius: 0.25rem;
  border: 1px solid $neutral-100;

  &.step {
    border-width: 0;

    @media #{$screen-width-medium} {
      border-width: 1px;
    }
  }

  &.shadow {
    box-shadow: 0 0.25rem 0.5rem rgba($neutral-500, 0.2);
  }
}
