.card {
  width: 100%;
  height: auto;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;

  background-color: $white;

  @media #{$screen-width-medium} {
    max-width: 35rem;
    margin-top: 2rem;
    border: 1px solid $neutral-100;
  }

  .card-actions {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;

    margin-top: 2rem;

    [type=submit] {
      margin-left: .5rem;
    }
  }
}
