// ------------------------------------- multiple inline input support -------------------------- //

// structure:
// <div class="inline-input">
//   <div>label & input (help/error text)</div>
//   <div>label & input (help/error text)</div>
//   <div>label & input (help/error text)</div
// <div>

// OR

// <label>label</label>
// <div class="inline-input">
//   <input>
//   <input>
//   <input>
// <div>
// <div>help/error text</div>

// NOTE: <div>s in structure above can be replaced with any container element

.inline-input {
  // remain inline at smaller sizes (also useful for fix/max-width inputs)
  display: flex;
  justify-content: flex-start;
  margin: 0;
  > *,
  > #{$text-inputs} {
    flex: 0 1 auto;
    margin-right: 0.75rem;
    &:last-child { margin-right: 0; }
  }
  & + .error-text,
  & + .help-text,
  & + .input-text {
    margin: -1.25rem 0 1.25rem;
    font-size: 0.875rem;
    &.error, .error { color: $neg-500; }
  }

  // full width block at smaller sizes
  &.full {
    display: block;
    > *,
    > #{$text-inputs} {
      margin-right: 0;
      flex: 1 1 auto;
    }
    @media #{$screen-width-medium} {
      display: flex;
      > *,
      > #{$text-inputs} {
        flex: 1 1 auto;
        margin-right: 0.75rem;

        &:last-child { margin-right: 0; }
      }
    }
  }

  label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// ------------------------------------- inline input + button -------------------------- //

// structure:
// <label>label</label>
// <div class="inline-button">
//   <input>
//   <button>
// <div>
// <div>help/error text</div>

// NOTE: <div>s in structure above can be replaced with any container element

.inline-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 1.25rem;
  input {
    flex: 1 1 auto;
    margin: 0;
  }
  button, a.button, input[type="button"] {
    flex: 1 0 auto;
    margin: 0 0 0 -1px;
    padding: 0.25rem 0.75rem;
    line-height: 1rem;
    height: 2rem;
    border-radius: 0 0.25rem 0.25rem 0;
    &.flat { padding: 0.25rem 0.75rem; }
    &.large, &.flat.large { padding: 0 1rem; }
  }
  & + .error-text,
  & + .help-text,
  & + .input-text {
    margin: -1.25rem 0 1.25rem;
    font-size: 0.875rem;
    &.error, .error { color: $neg-500; }
  }
}

// ------------------------------------- Semi-Fancy Checkbox Class ------------------------------------- //

input[type="checkbox"].semi-fancy {
  + label {
    font-weight: bold;
    span {
      display: block;
      margin-top: 0.75rem;
      color: $neutral-700;
      &::before { display: none; }
    }
  }
}

// ------------------------------------- Fancy Radio/Checkbox Class ------------------------------------- //

input[type="radio"].fancy,
input[type="radio"].semi-fancy,
// .fancy-radio-button for back compatability - to be removed
.fancy-radio-button input[type="radio"] {
  + label {
    display: block;
    margin: 0 0 0.75rem;
    padding: 0.75rem 0.75rem 0.75rem 2.75rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: $black;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    span {
      display: block;
      margin-top: 0.75rem;
      color: $neutral-700;
      &::before { display: none; }
    }
  }
  &:focus + label {
    box-shadow: 0 0 0 2px $white, 0 0 0 4px $bg-100;
  }
  & + label:before { // outer circle w/ no interaction
    top: .75rem;
    left: .75rem;
  }

  & + label:after { // inner circle w/ no interaction
    top: 1.375rem;
    left: 1.375rem;
  }
  &:focus + label:after,
  &:checked + label:after { // inner circle when checked
    top: 1rem;
    left: 1rem;
  }
}

input[type="radio"].fancy,
// .fancy-radio-button for back compatability - to be removed
.fancy-radio-button input[type="radio"]{
  + label {
    border: 1px solid $neutral-100;
    background-color: $white;
    &:hover {
      background-color: $bg-50;
      border-color: $bg-50;
    }
  }

  &:focus + label,
  &:checked + label {
    background-color: $bg-50;
    border: 1px solid $bg-50;
  }

  &:focus + label:before {
    box-shadow: none;
  }
}
