.toast {
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  top: 0.75rem;

  width: calc(100% - 1rem);
  max-width: 40rem;

  z-index: 1000;
}

.notice {
  margin: 0 auto;
  padding: 1rem 1.5rem;

  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);

  &.neg {
    border-left: $neg-300 0.25rem solid;
    background-color: $neg-50;
  }

  > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
}
