.post {
  margin-bottom: 1rem;
  
  .post-status {
    display: flex;
    flex-direction: row;
    align-items: center;

    .status-icon {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $bg-50;
      color: $primary-500;

      &.dark {
        background-color: $black;
        svg { fill: $white; }
      }
    
      &.subtle {
        background-color: $secondary-50;
        svg { fill: $secondary-500; }
      }

      svg {
        height: 1rem;
        width: 1rem;
      }
    }

    .status-details {
      font-size: 0.875rem;
      display: flex;
      flex-direction: column;
      margin-left: 0.75rem;
    } 
  }

  .post-comment {
    margin: 1rem 0 0 2.75rem;
    border-left: 1px solid $neutral-100;
    padding-left: 1rem;
    white-space: pre-line;
    word-break: break-word;
  }
}
