.tabs {
  display: flex;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid $neutral-100;
  font-weight: bold;

  .tab {
    color: $neutral-700;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $neutral-100;
    text-decoration: none;
    display: block;
    bottom: -1px; // bring each tab in line with the tabs border
    margin-right: 1rem;
    &:hover:not(.active, .disabled) {
      color: $primary-300;
    }

    &.active {
      background: none;
      color: $neutral-900;
      border-bottom: 1px solid $primary-300;
    }

    &:disabled, &.disabled {
      font-weight: normal;
      color: $neutral-500;
      cursor: default;
    }
  }
}
