.workflow {
  width: 100%;

  .step {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    @media #{$screen-width-medium} { background: none; }

    &.slide-out-left {
      position: absolute;
      animation: 0.3s ease-in-out slide-out-left;
      .card { animation: 0.3s ease-in-out fade-out; }
    }

    &.slide-out-right {
      position: absolute;
      animation: 0.3s ease-in-out slide-out-right;
      .card { animation: 0.3s ease-in-out fade-out; }
    }

    &.slide-in-left {
      position: absolute;
      animation: 0.3s ease-in-out slide-in-left;
      .card { animation: 0.3s ease-in-out fade-in; }
    }

    &.slide-in-right {
      position: absolute;
      animation: 0.3s ease-in-out slide-in-right;
      .card { animation: 0.3s ease-in-out fade-in; }
    }

    // -- Deprecation Warning

    // card as a stand alone class for workflows will soon to be depricated
    // please use card.modal-view class as described in layouts.scss
    .card:not(.modal-view) {
      border: none;
      border-radius: 0;
      width: 100%;
      > footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
      }
      @media #{$screen-width-medium} {
        border: 1px solid $neutral-100;
        border-radius: 0.25rem;
        max-width: $small-width;
        margin: 1.5rem 0;
      }
    }
    // -- End Deprecation Warning
  }
}
