.workflow {
  position: relative;
  height: 100%;
  min-height: 100vh;
  width: 100%;

  .workflow-form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .step {
    position: absolute;
    top: 0;
    &.is-app { top: 0; }
    width: 100%;
    display: flex;
    justify-content: center;

    &.animated {
      overflow-y: hidden;
    }

    @media #{$screen-width-medium} {
      top: 2.75rem;
    }
  }

  // ANIMATION //
  .slide-fade-out-left {
    animation: 0.5s ease-in-out 0s slide-out-left forwards;

    .card {
      animation: 0.5s ease-in-out 0s fade-out forwards;
    }
  }

  .slide-fade-out-right {
    animation: 0.5s ease-in-out 0s slide-out-right forwards;

    .card {
      animation: 0.5s ease-in-out 0s fade-out forwards;
    }
  }

  .slide-fade-in-left {
    animation: 0.5s ease-in-out 0s slide-in-left forwards;

    .card {
      animation: 0.5s ease-in-out 0s fade-in forwards;
    }
  }

  .slide-fade-in-right {
    animation: 0.5s ease-in-out 0s slide-in-right forwards;

    .card {
      animation: 0.5s ease-in-out 0s fade-in forwards;
    }
  }
}
