/// -- Brand Colours -- //
// ------------------------- //

$amethyst-50: #e8e9f1;
$amethyst-100: #9d9fbc;
$amethyst-300: #787a97;
$amethyst-500: #5d5f7a;
$amethyst-700: #464855;

$mint-50: #ebf4f1;
$mint-100: #d2e6de;

// UI Colours

$emerald-50: #e9f7e6;
$emerald-300: #24b33b;
$emerald-500: #0A884F;
$emerald-700: #086749;

// Neutrals
$pearl-0: #ffffff;
$pearl-50: #f7f7f8;
$pearl-100: #e4e4ea;
$pearl-300: #d0d0d9;
$pearl-400: #98A0A8;
$pearl-500: #86868f;
$pearl-700: #606068;
$pearl-900: #37373f;

/// -- New Brand Colours -- //
// ------------------------- //
$blue-50: #F4F8FB;
$blue-100: #6EABDE;
$blue-300: #2E85CA;
$blue-500: #2A79BB;
$blue-700: #205085;
$blue-900: #143659;

$amber-50: #F9F1DC;
$amber-100: #F5BE44;
$amber-300: #da9f18;

$ruby-50: #fceded;
$ruby-300: #e95454;
$ruby-500: #D93939;
$ruby-700: #b31a1a;

/// ---- Colour Mapping ---- //
// ------------------------- //

$primary: $blue-500;
$primary-50: $blue-50;
$primary-100: $blue-100;
$primary-300: $blue-300;
$primary-500: $blue-500;
$primary-700: $blue-700;
$primary-900: $blue-900;

$secondary: $blue-700;
$secondary-50: $blue-50;
$secondary-100: $blue-300;
$secondary-300: $blue-500;
$secondary-500: $blue-700;
$secondary-700: $blue-900;

$tertiary: $amber-100;
$tertiary-50: $amber-50;
$tertiary-100: $amber-100;
$tertiary-300: $amber-300;

$bg: $blue-50;
$bg-50: $blue-50;
$bg-100: $blue-100;

$neg: $ruby-500;
$neg-50: $ruby-50;
$neg-300: $ruby-300;
$neg-500: $ruby-500;
$neg-700: $ruby-700;

$pos: $emerald-500;
$pos-50: $emerald-50;
$pos-300: $emerald-300;
$pos-500: $emerald-500;
$pos-700: $emerald-700;

$alert: $amber-100;
$alert-50: $amber-50;
$alert-100: $amber-100;
$alert-300: $amber-300;

$white: $pearl-0;
$neutral-0: $pearl-0;
$neutral-50: $pearl-50;
$neutral-100: $pearl-100;
$neutral-300: $pearl-300;
$neutral-400: $pearl-400;
$neutral-500: $pearl-500;
$neutral-700: $pearl-700;
$neutral-900: $pearl-900;
$black: $pearl-900;

@import "../settings";
