
/* --------   BUTTON STYLING   -------- */

#{$buttons} {
  display: inline-block;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  line-height: 1.125rem;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  margin: 0;
  border: 1px solid transparent;
  white-space: nowrap;
  transition: all 0.3s ease-out;
  stroke: transparent;
  svg {
    vertical-align: top;
    height: 1rem;
    width: 1rem;
    flex: 0 0 1rem;
  }

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  &.full { width: 100%; }

  // fill is default styling for all buttons
  @include fill($primary-500, $primary-700, $primary-900);
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
