$text-inputs: (
  // "input[type='date']",
  // "input[type='email']",
  // "input[type='number']",
  // "input[type='password']",
  // "input[type='search']",
  // "input[type='tel']",
  // "input[type='text']",
  // "input[type='url']",
  "input:not([type='checkbox'])",
  "input:not([type='radio'])",
  "textarea",
  "select"
);

#{$text-inputs} {
  overflow: auto;
  width: 100%;
  border: 1px solid $neutral-100;
  border-radius: 0;
  background-color: $neutral-50;
  padding: 0.25rem;
  transition: all 0.3s ease-out;
  -webkit-appearance: none;
  height: 2rem;
  line-height: 1rem;

  &::placeholder { color: $neutral-500; }

  &:focus, &:active {
    border-color: $primary-300;
    background-color: $neutral-50;
    outline: none;
  }

  &.error, &.invalid, &.vf-touched.vf-invalid {
    border-color: $neg-500;
    background-color: $neg-50;
    outline: none;

    &:focus, &:active {
      border-color: $primary-300;
      background-color: $neutral-50;
      outline: none;
    }
  }

  &:disabled {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAOUlEQVQYV2N8+PDhfzk5OQZcgPE/EDx69IgBlyKwApBuXIrgCnApQlGATRGGAnRFWBUgK8KpAKYIAIQbNI/H1h4jAAAAAElFTkSuQmCC);
    background-repeat:repeat;
    background-size: 5px 5px;
  }
}

label {
  display: block;
  margin: 1rem 0 0;
  font-weight: bold;
}


// ------------------------------------- Select (drop-down menu) -------------------------- //

select {
  background-image: url("data:image/svg+xml,%3Csvg%20enable-background%3D%27new%200%200%2024%2024%27%20fill%3D%27%2337373F%27%20viewBox%3D%270%200%2024%2024%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M12%2015.441l-6.637-6.881h13.275l-6.638%206.881z%27%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: top 0.5rem right 0.25rem;
  background-size: 1rem;
  padding-right: 1.5rem;
  height: 2rem;
}

// --------------------------------------- Checkbox --------------------------------------- //

// ----- Unchecked Checkbox Styling ----- //

input[type='checkbox'] {
  // visually hide the real checkbox
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  // basic checkbox label style
  & ~ label {
    display: block;
    cursor: pointer;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: left;
    padding-left: 1.75rem;
    margin: 1rem 0 0;
  }
  // custom styled checkbox
  & ~ label:before {
    content: "";
    transition: all 0.2s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.125rem;
    border: 1px solid $neutral-700;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2064%2064%27%3E%3Cpath%20fill%3D%27white%27%20d%3D%27m24%2052.4-20.8-20.8%205.6-5.6%2015.2%2015.1%2031.2-31.1%205.6%205.6z%27%2F%3E%3C%2Fsvg%3E");
    background-size: 1rem;
    background-position: center;
    height: 1.25rem;
    width: 1.25rem;
  }

  &:hover ~ label:before {
    border-color: $primary-500;
  }

  &:focus ~ label:before {
    border-color: $primary-500;
    box-shadow: $primary-300 0 0 6px 0;
  }

  &:active ~ label:before {
    border-color: $primary-700;
  }
}

// ----- Checked Checkbox Styling ----- //

input[type='checkbox']:checked {
  & ~ label:before {
    border-color: $primary-500;
    background-color: $primary-500;
  }

  &:hover ~ label:before {
    border-color: $primary-700;
    background-color: $primary-700;
  }

  &:focus ~ label:before {
    border-color: $primary-700;
    background-color: $primary-700;
    box-shadow: $primary-300 0 0 6px 0;
  }

  &:active ~ label:before {
    border-color: $primary-900;
    background-color: $primary-900;
  }
}
