@mixin variant($default, $active, $hover) {
  color: $default;
  fill: $default;

  &:visited,
  &.visited {
    color: $default;
    fill: $default;
    svg { border-color: $default; }
  }

  &:focus,
  &.focus {
    color: $hover;
    fill: $hover;
    svg { border-color: $hover; }
    outline: none;
    background: rgba($default, 0.1);
  }

  &:hover, &.hover {
    color: $hover;
    fill: $hover;
    svg { border-color: $hover; }
  }

  &:active, &.active {
    color: $active;
    fill: $active;
    background: none;
    svg { border-color: $active; }
  }
}


a, button, .link {
  display: inline;
  text-decoration: underline;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  background: none;
  -moz-appearance: none;
  padding: 0;
  border: 0;

  &.icon svg {
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
  }

  &.icon.before svg {
    margin-right: 0.5rem;
  }

  &.icon.after svg {
    margin-left: 0.5rem;
  }

  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  @include variant($primary-500, $primary-700, $primary-900);
  &.alt { @include variant($secondary-500, $secondary-300, $secondary-700); }
  &.alert { @include variant($tertiary-300, $tertiary-300, $tertiary-100); }
  &.neg { @include variant($neg-500, $neg-500, $neg-700); }
  &.pos { @include variant($pos-500, $pos-500, $pos-700); }
  &.light { @include variant($neutral-0, $neutral-50, $neutral-100); }
  &.dark { @include variant($neutral-900, $neutral-900, $neutral-700); }

  &.small {
    font-size: 0.875rem;
    svg {
      width: 0.875rem;
      height: 0.875rem;
    }
  }

  &.large {
    font-size: 1.125rem;
    line-height: 1.5rem;
    svg {
      width: 1.125rem;
      height: 1.125rem;
    }
  }

  &.href-plain { text-decoration: none; }
  &.inherit { color: inherit; }

  &:disabled, &.disabled {
    fill: $neutral-500;
    color: $neutral-500;
    cursor: default;
  }
}
