table {
  width: 100%;
  display: table;
  table-layout: auto;
  border-collapse: separate; // this is necessary to allow border-radius
  background-color: $white;
  border-radius: 0.25rem;
  border: 1px solid $neutral-100;

  thead, th {
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid $neutral-300;
  }

  tbody tr {
    transition: background-color 200ms ease-in-out;
    &:hover { background-color: $neutral-50; }

    td { border-bottom: 1px solid $neutral-100; }
    &:last-child td { border-bottom: none; }
  }

  tfoot {
    font-weight: bold;
    td { border-top: 1px solid $neutral-300; }
    transition: background-color 200ms ease-in-out;
    tr:hover { background-color: $neutral-50; }
  }
  
  th, td { padding: 0.5rem; }
  th:first-child, td:first-child { padding-left: 1rem; }
  th:last-child, td:last-child { padding-right: 1rem; }
  
  svg { transition: fill 200ms ease-in-out; }

  a[role='row'] {
    display: table-row;
    transition: background-color 200ms ease-in-out;
    text-decoration: none;
    color: $black;
    
    td {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      border-bottom: 1px solid $neutral-100;
    }
    &:last-child td { border-bottom: none; }

    &:hover {
      background-color: $bg-50;
      color: $black;
      cursor: pointer;

      // TEXT VARIANT - hyperlink
      // applying .link-row-target to a string will give it a link-like appearance
      // when the mouse is hovered anywhere over the containing row
      .link-row-target {
        color: $primary-500; // targeting text
        fill: $primary-500; // targeting SVG
        transition: color 200ms ease-in-out;
        .subtle {
          color: $primary-500;
          transition: color 200ms ease-in-out;
        }
      }
    }
  }

  // TABLE VARIANT - smaller text
  // this class can be applied to the <table> to shrink all text in the table
  &.text-small {
    font-size: 0.875rem;
  }

  // TABLE VARIANT - add box-shadow
  &.shadow {
    box-shadow: 0 0.25rem 0.5rem rgba($neutral-500, 0.2);
  }
}
