table.card {
  // ROW VARIANT - larger vertical padding - add class 'pad' to a row
  &.pad td { padding: 0.75rem 0.5rem; }

  display: table;
  width: 100%;
  border-collapse: separate; // this is necessary to allow border-radius
  border-spacing: 0;

  th {
    font-weight: bold;
    font-size: 0.875rem;
    border-bottom: 1px solid $neutral-300;
  }

  th, td { padding: 0.5rem; }
  th:first-child, td:first-child { padding-left: 1rem; }
  th:last-child, td:last-child { padding-right: 1rem; }

  tbody tr {
    transition: background-color 200ms ease-in-out;
    td { border-bottom: 1px solid $neutral-100; }
    &:last-child td { border-bottom: none; }
    &:hover { background-color: $neutral-50; }
  }

  tfoot tr {
    transition: background-color 200ms ease-in-out;
    font-weight: bold;
    td { border-top: 1px solid $neutral-100; }
    &:hover { background-color: $neutral-50; }
  }

  svg { transition: fill 200ms ease-in-out; }

  a[role='row'] {
    display: table-row;
    transition: background-color 200ms ease-in-out;
    text-decoration: none;
    color: $black;

    td {
      border-bottom: 1px solid $neutral-100;
    }
    &:last-child td { border-bottom: none; }

    // TEXT VARIANT - hyperlink styling - add class 'link-row-target' to a cell or string
    .link-row-target {
      color: $primary-500; // targeting text
      fill: $primary-500; // targeting SVG
    }

    &:hover, &:focus {
      background-color: $bg-50;
      color: $black;

      .link-row-target {
        color: $primary-700; // targeting text
        fill: $primary-700; // targeting SVG
      }
    }
  }
}
