$text-inputs: (
  "input[type='color']",
  "input[type='date']",
  "input[type='datetime']",
  "input[type='datetime-local']",
  "input[type='email']",
  "input[type='month']",
  "input[type='number']",
  "input[type='password']",
  "input[type='search']",
  "input[type='tel']",
  "input[type='text']",
  "input[type='time']",
  "input[type='url']",
  "input[type='week']",
  "input:not([type])",
  "textarea",
  "select"
);

#{$text-inputs} {
  overflow: auto;
  width: 100%;
  border: 1px solid $neutral-100;
  border-radius: 0;
  background-color: $neutral-50;
  padding: 0.25rem;
  transition: all 0.3s ease-out;
  -webkit-appearance: none;
  height: 2rem;
  line-height: 1rem;

  &::placeholder { color: $neutral-500; }

  &:focus, &:active {
    border-color: $primary-300;
    background-color: $neutral-50;
    outline: none;
  }

  &.error, &.invalid, &.vf-touched.vf-invalid {
    border-color: $neg-500;
    background-color: $neg-50;
    outline: none;

    &:focus, &:active {
      border-color: $primary-300;
      background-color: $neutral-50;
      outline: none;
    }
  }

  &:disabled {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAOUlEQVQYV2N8+PDhfzk5OQZcgPE/EDx69IgBlyKwApBuXIrgCnApQlGATRGGAnRFWBUgK8KpAKYIAIQbNI/H1h4jAAAAAElFTkSuQmCC);
    background-repeat:repeat;
    background-size: 5px 5px;
  }
}

label {
  display: block;
  margin: 1rem 0 0;
  font-weight: bold;
}


// ------------------------------------- Select (drop-down menu) -------------------------- //

select {
  background-image: url("data:image/svg+xml,%3Csvg%20enable-background%3D%27new%200%200%2024%2024%27%20fill%3D%27%2337373F%27%20viewBox%3D%270%200%2024%2024%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%27M12%2015.441l-6.637-6.881h13.275l-6.638%206.881z%27%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: top 0.5rem right 0.25rem;
  background-size: 1rem;
  padding-right: 1.5rem;
  height: 2rem;
}

// --------------------------------------- Checkbox --------------------------------------- //

// ----- Unchecked Checkbox Styling ----- //

input[type='checkbox'] {
  // visually hide the real checkbox
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  // basic checkbox label style
  & ~ label {
    display: block;
    cursor: pointer;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: left;
    padding-left: 1.75rem;
    margin: 1rem 0 0;
  }
  // custom styled checkbox
  & ~ label:before {
    content: "";
    transition: all 0.2s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.125rem;
    border: 1px solid $neutral-700;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2064%2064%27%3E%3Cpath%20fill%3D%27white%27%20d%3D%27m24%2052.4-20.8-20.8%205.6-5.6%2015.2%2015.1%2031.2-31.1%205.6%205.6z%27%2F%3E%3C%2Fsvg%3E");
    background-size: 1rem;
    background-position: center;
    height: 1.25rem;
    width: 1.25rem;
  }

  &:hover ~ label:before {
    border-color: $primary-500;
  }

  &:focus ~ label:before {
    border-color: $primary-500;
    box-shadow: $primary-300 0 0 6px 0;
  }

  &:active ~ label:before {
    border-color: $primary-700;
  }
}

// ----- Checked Checkbox Styling ----- //

input[type='checkbox']:checked {
  & ~ label:before {
    border-color: $primary-500;
    background-color: $primary-500;
  }

  &:hover ~ label:before {
    border-color: $primary-700;
    background-color: $primary-700;
  }

  &:focus ~ label:before {
    border-color: $primary-700;
    background-color: $primary-700;
    box-shadow: $primary-300 0 0 6px 0;
  }

  &:active ~ label:before {
    border-color: $primary-900;
    background-color: $primary-900;
  }
}


// --------------------------------------- Range Sliders --------------------------------------- //

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white; in Chrome */
  margin: 0;
}

input[type=range]:focus {
  outline: none;
}

/* Thumb styles */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0.5rem solid white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background: $primary-300;
  cursor: pointer;
  margin-top: -0.375rem;
  box-shadow: 0 4px 10px rgba(55, 55, 63, 0.15), 0 0 1px rgba(55, 55, 63, 0.5);
}

input[type=range]:focus::-webkit-slider-thumb {
  background: $neutral-50;
  border-color: $primary-300;
  box-shadow: 0 4px 10px rgba(55, 55, 63, 0.15);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 4px 10px rgba(55, 55, 63, 0.15), 0 0 1px rgba(55, 55, 63, 0.5);
  border: 0.5rem solid white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background: $primary-300;
  cursor: pointer;
}

input[type=range]:focus::-moz-range-thumb {
  background: $neutral-50;
  border-color: $primary-300;
  box-shadow: 0 4px 10px rgba(55, 55, 63, 0.15);
}

input[type=range]::-ms-thumb {
  box-shadow: 0 4px 10px rgba(55, 55, 63, 0.15), 0 0 1px rgba(55, 55, 63, 0.5);
  border: 0.5rem solid white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background: $primary-300;
  cursor: pointer;
}

input[type=range]:focus::-ms-thumb {
  background: $neutral-50;
  border-color: $primary-300;
  box-shadow: 0 4px 10px rgba(55, 55, 63, 0.15);
}

/* Track styles */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.75rem;
  cursor: pointer;
  background: white;
  border-radius: 0.75rem;
  border: 1px solid $bg-100;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.75rem;
  cursor: pointer;
  background: white;
  border-radius: 0.75rem;
  border: 1px solid $bg-100;
}

input[type=range]::-moz-focus-outer { border: 0; }

input[type=range]::-ms-track {
  width: 100%;
  height: 0.75rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: white;
  border: 1px solid $bg-100;
  border-radius: 0.75rem;
}

input[type=range]:focus::-ms-fill-lower {
  background: $primary-300;
  border: 1px solid $primary-300;
}

input[type=range]::-ms-fill-upper {
  background: white;
  border: 1px solid $bg-100;
  border-radius: 0.75rem;
}

input[type=range]:focus::-ms-fill-upper {
  border: 1px solid $primary-300;
}

// ------------------------------------- Fancy Radio Class ------------------------------------- //

.fancy-radio-button {
  margin-top: .625rem;

  label {
    margin: 0;
    padding: 0.75rem 0.75rem 0.75rem 2.75rem;
    border: 1px solid $neutral-100;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background-color: $white;
    color: $black;
    text-align: left;
    cursor: pointer;

    &:hover {
      background-color: $bg-50;
      border-color: $bg-50;
    }
  }

  input:focus ~ label {
    box-shadow: 0 0 3px 0 $primary-300;
  }

  input:focus ~ label,
  input:checked ~ label {
    background-color: $bg-50;
    border: 1px solid $bg-50;
  }

  input {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    opacity: 0;
  }

  label:before { // outer circle w/ no interaction
    content: "";
    position: absolute;
    top: .75rem;
    left: .75rem;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    border: 1px solid $black;
    margin: 0rem 0.75rem 0rem 0rem;
  }

  input:hover ~ label:before,
  input:focus ~ label:before,
  input:checked ~ label:before { // outer circle when hovered, focused, or checked
    border: 1px solid $primary-300;
  }

  label:after { // inner circle w/ no interaction
    content: "";
    position: absolute;
    top: 1.375rem;
    left: 1.375rem;
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    background-color: $primary-300;
    transition: all .25s;
  }

  input:checked ~ label:after { // inner circle when checked
    width: 0.75rem;
    height: 0.75rem;
    top: 1rem;
    left: 1rem;
    border-radius: 50%;
    background: $primary-300;
  }
}
